@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
  font-family: "Kaushan Script", cursive;
  background: var(--mainWhite);
  color: var(--mainBlack);
}

.navbar-toggler {
  outline: none !important;
}
.toggler-icon {
  font-size: 2.5rem;
  color: var(--mainPink);
}
.nav-link {
  color: var(--mainPink);
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}
.nav-link:hover {
  color: var(--mainBlack);
}

.cart-info__icon {
  color: var(--mainBlack);
  cursor: pointer;
}

.cart-info {
  border: 0.1rem solid var(--mainBlack);
  color: var(--mainBlack);
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.cart-info:hover {
  background: var(--mainPink);
  border-color: var(--mainPink);
  color: var(--mainWhite);
}
.cart-info:hover .cart-info__icon {
  color: var(--mainWhite);
}


.max-height {
  min-height: calc(100vh - 76px);
  background: linear-gradient(var(--yellowTrans), var(--yellowTrans)),
    url("../img/headerBcg.jpeg") center/cover fixed no-repeat;
  position: relative;
}
.banner {
  color: var(--mainWhite);
  margin-top: -4rem;
}
.banner-title {
  color: var(--mainPink);
  font-size: 4rem;
}
.banner-link {
  font-size: 1.5rem;
  color: var(--mainBlack);
  border: 0.2rem solid var(--mainBlack);
}
.banner-link:hover {
  background: var(--mainBlack);
  color: var(--mainPink);
}

.cart {
  position: absolute;
  min-height: 10rem;
  background: var(--mainWhite);
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.5);
  width: 0;
  overflow: hidden;
}
.show-cart {
  width: 18rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
}
.cart-item {
  transition: all 2s ease-in-out;
}
.cart-item-remove {
  color: var(--mainPink);
  transition: all 1s ease-in-out;
}
.cart-item-remove:hover {
  transform: scale(1.1);
  color: var(--mainBlack);
}
#cart-item-price {
  font-size: 0.8rem;
}

.btn-pink {
  color: var(--mainPink) !important;
  border-color: var(--mainPink) !important;
}
.btn-black {
  color: var(--mainBlack) !important;
  border-color: var(--mainBlack) !important;
}
.btn-black:hover {
  color: var(--mainPink) !important;
  background: var(--mainBlack) !important;
}
.btn-pink:hover {
  background: var(--mainPink) !important;
  color: var(--mainBlack) !important;
}

.about-img__container {
  position: relative;
}

.about-img__container::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainYellow);
  z-index: -1;
  transition: all 1s ease-in-out;
}
.about-img__container:hover:before {
  top: 0;
  left: 0;
}

.store {
  background: var(--mainGrey);
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.store-img {
  transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
  transform: scale(1.2);
}
.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: var(--mainYellow);
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
}
.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}
.store-item-icon:hover {
  color: var(--mainWhite);
}
.store-item-value {
  color: --mainYellow;
}

.search-box {
  background: var(--mainPink);
  color: var(--mainBlack);
}



.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6) !important;
  display: none;
}
.show {
  display: block;
}

.lightbox-holder {
  position: relative;
}
.lightbox-item {
  min-height: 80vh;
  background: url("../img/cake-1.jpeg") center/contain fixed no-repeat;
  border-radius: 0.3rem;
}

.lightbox-close {
  color: var(--mainPink);
  font-size: 3rem;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.lightbox-close:hover {
  color: var(--mainYellow);
}

.lightbox-control {
  position: absolute;
  font-size: 4rem;
  color: var(--mainPink);
  transition: all 1s linear;
  cursor: pointer;
}
.lightbox-control:hover {
  color: var(--mainYellow);
}
.btn-left {
  top: 50%;
  left: 0;
  transform: translateX(-60%);
}
.btn-right {
  top: 50%;
  right: 0;
  transform: translateX(60%);
}

.fon {
  width: 100%;
  height: 100%;
  background: var(--mainGrey);
  position: absolute;
  top: 0;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.close-bl {
  float: right;
  width: 100%;
  
}

.form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 500px;
  max-height: 300px;
  background: rgb(247, 245, 245);
  -webkit-box-shadow: 6px 0px 129px 6px rgba(239,121,152,1);
  -moz-box-shadow: 6px 0px 129px 6px rgba(239,121,152,1);
  box-shadow: 6px 0px 129px 6px rgba(239,121,152,1);
  
  
}
.form .input {
  padding-top: 10px;
}
.form .input input {
  border-right: none;
  border-top: none;
  border-left: none;
  border-color: var(--mainYellow);
  background: rgb(255, 255, 255);
  transition: all 300ms ease-in-out;
}
.form .input input:focus {
  outline-offset: 0px;
  outline: 0px;
  border-radius: .25rem;
}
.info {
  margin-bottom: 5px;
  width: 20%;
}
.form-input {
  width: 60%;
}
.close {
  padding-right: 15px;
}
.close i {
  color: var(--mainPink);
}
.form .submit {
  padding-top: 15px;
}
.form .submit a {
  padding: 0;
  display: block;
  margin: 0 auto;
}
.form .submit a:focus{
  box-shadow: none;
}
.error-input {
  border: 3px solid;
  border-color: red !important;
  transition: all 300ms ease-in-out;
}
.d-opacite {
  opacity: 0.3;
  pointer-events: none;
}

.services {
  color: var(--mainWhite);
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
   url('../img/servicesBcg.jpeg') center/cover fixed no-repeat;
}
.service-title {
  letter-spacing: 0.5rem;
}
.service-text {
  word-spacing: 0.5rem;
}
.footer-title {
  background: var(--mainBlack);
}
.footer-contact {
  background: var(--mainGrey);
}
.footer-icon {
  font-size: 1.5rem;
  color: var(--mainWhite);

}
.footer-icon:hover{
  color: var(--mainPink);
  transition: all 300ms ease-in-out;
}

@media screen and (max-width: 991px) {
  .cart {
    width: 18rem;
    padding: 2rem 1.5rem;
  }
}